:root{
    --primary : #76BEAD;
    --secondary : #FFBE93;
    --third :#80B8CE;
}
body{
    background: white;
    
}
body,h1 {
    margin: 0;
    padding: 0;
}
.pageTitle{
    font-family: 'Chewy';
    text-align: center;
    padding: 15px;
    font-size: 24px;
    font-weight: 100;
}
.pageHeader{
    height: 60px;
    width: 100%;
    background-color: var(--third);
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px;
    z-index: 1;
    
}
.paragraph{
margin: 20px;
direction: rtl;
font-size: 24px;
font-family: 'Tajawal';

}
.container div:last-child {
    margin-bottom: 50px;
}
.subtitle p:last-child {
    margin-bottom: 50px;
}
.subtitle{
    font-family: 'Tajawal';
    text-align: right;
    padding-right: 40px;
    font-size: 30px;
    font-weight: 500;
    direction: rtl;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        align-items: center; 
    }
}
.keyWord{
    font-family: 'Tajawal';
    text-align: center;
    margin-top: 50px;
    color: black;
}
.container {
    display: flex; 
    gap: 20px; 
    direction: rtl;
    align-items: center;
}

.container div {
    flex: 1; 
    padding: 10px;
    align-items: center;
    
}  
    
.container img {
    max-width: 75%; 
    height: auto; 
    border-radius: 10px; 
    display: block; 
    margin: 0 auto ; 
}
 


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--third);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    direction: rtl;
    text-align: center;
    
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
    
}

.hamburger {
    font-size: 25px;  
    color: black;
    cursor: pointer;
    position: fixed;
    top: 10px;  
    right: 15px; 
    z-index: 2;  
    background-color: white; 
    border: none;
    border-radius: 50%; 
    padding: 10px;
    width: 20px; 
    height: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* إضافة ظل خفيف */
}


.link{
    font-family: 'Tajawal';
    font-size: 24px;
    color : black;
}

@media screen and (max-width: 768px) {
    .container {
        padding-top: 20px;
    }

    .sidebar a {
        font-size: 20px;
    }

    .sidebar {
        width: 0;
        padding-top: 60px;
    }

    span {
        font-size: 24px;
    }
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: 'Tajawal', sans-serif;
    font-size: 14px;
    
}

.footer p {
    margin: 0;
}
.containerColumn {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    text-align: center;
}

.subtitle, .link {
    font-family: 'Tajawal', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.link {
    text-decoration: none;
    color: black; 
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
    
}

.centered-content {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;        
    text-align: center;
}