:root{
    --primary : #76BEAD;
    --secondary : #FFBE93;
    --third :#80B8CE;
}
body{
    background: #d3d3d3;
}
body,h1 {
    margin: 0;
    padding: 0;
}
.pageTitle{
    font-family: 'Chewy';
    text-align: center;
    font-size: 50px;
    font-weight: 100;

}
.pageHeader{
    height: 60px;
    width: 100%;
    background-color: var(--third);
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px;
    
}
.paragraph{
margin-right: 20px;
margin-top: 20px;       
direction: rtl;
font-size: 20px;
font-family: 'Tajawal';
}
.subtitle{
    font-family: 'Tajawal';
    text-align: right;
    padding-right: 40px;
    font-size: 30px;
    font-weight: 500;
    direction: rtl;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        align-items: center; 
    }
}
.keyWord{
    font-family: 'Tajawal';
    text-align: center;
    padding: 20px; 
    padding-top: 100px;
   
}
.container {
    display: flex; 
    gap: 20px; 
    direction: rtl;
    align-items: center;
}

.container div {
    flex: 1; 
    padding: 10px;
    text-align: center;
}  
    
.container img {
    max-width: 75%; 
    height: auto; 
    border-radius: 10px; 
    align-items: center;
    display: block; 
    margin: 0 auto; 
}
/* Sidebar Style */
/* Sidebar Style */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    direction: rtl;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #d3d3d3;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

/* Hamburger Button (الزر العائم) */
.hamburger {
    font-size: 25px;  /* جعل حجم الزر أصغر */
    color: white;
    cursor: pointer;
    position: fixed;
    top: 10px;  /* تقليل المسافة بين الزر والشريط العلوي */
    right: 15px; /* المسافة من الجهة اليمنى */
    z-index: 2;  /* جعل الزر فوق الشريط الجانبي */
    background-color: #d3d3d3; /* اللون السكني */
    border: none;
    border-radius: 50%; /* جعل الزر دائري */
    padding: 10px;
    width: 20px; /* عرض الزر أصغر */
    height: 20px; /* ارتفاع الزر أصغر */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
}



/* Media Query for small screens (mobile) */
@media screen and (max-width: 768px) {
    .container {
        padding-top: 80px; /* لتعديل المسافة بسبب ظهور الشريط الجانبي */
    }

    /* When the screen size is small, the sidebar will cover the full height */
    .sidebar a {
        font-size: 20px;
    }

    .sidebar {
        width: 0;
        padding-top: 60px;
    }

    span {
        font-size: 24px;
    }
}
