:root{
    --primaryColor :#80B8CE;
}
body{
    background: white;
    font-family: 'Tajawal';
    color: black;
}
body,h1 {
    margin: 0;
    padding: 0;
}
.pageTitle{
    font-family: 'Chewy';
    text-align: center;
    padding: 15px;
    font-size: 24px;
    font-weight: 100;
}
.pageHeader{
    height: 60px;
    width: 100%;
    background-color: var(--primaryColor);
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px;
    z-index: 1;
    
}
.paragraph{
    margin: 20px;
    direction: ltr;  /* تم التعديل هنا */
    font-size: 24px;
    font-family: 'Tajawal';
}
.container div:last-child {
    margin-bottom: 50px;
}
.subtitle p:last-child {
    margin-bottom: 50px;
}
.subtitle{
    font-family: 'Tajawal';
    text-align: left;  /* تم التعديل هنا */
    padding: 40px;
    font-size: 30px;
    font-weight: 500;
    direction: ltr;  /* تم التعديل هنا */
}

@media (max-width: 768px) {
    
}
.keyWord{
    font-family: 'Tajawal';
    text-align: center;
    margin-top: 50px;
    color: black;
}
.container {
    display: flex; 
    gap: 20px; 
    direction: ltr;  /* تم التعديل هنا */
    align-items: center;
}

.container div {
    flex: 1; 
    padding: 10px;
    align-items: center;
    
}  
    
.container img {
    max-width: 75%; 
    height: auto; 
    border-radius: 10px; 
    display: block; 
    margin: 0 auto ; 
}
 


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;  /* تم التعديل هنا */
    background-color: var(--primaryColor);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    direction: ltr;  /* تم التعديل هنا */
    text-align: center;
    
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
    
}

.hamburger {
    font-size: 25px;  
    color: black;
    cursor: pointer;
    position: fixed;
    top: 10px;  
    left: 15px;  /* تم التعديل هنا */
    z-index: 2;  
    background-color: white; 
    border: none;
    border-radius: 50%; 
    padding: 10px;
    width: 20px; 
    height: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* إضافة ظل خفيف */
}


.link{
    font-family: 'Tajawal';
    font-size: 24px;
    color : black;
}

@media screen and (max-width: 768px) {
    
    .container {
        padding-top: 20px;
    }


    .sidebar {
        width: 0;
        padding-top: 60px;
    }

    span {
        font-size: 24px;
    }
    .container {
        flex-direction: column; 
        align-items: center; 
    }
    .grid{
        flex-direction: column; 
        align-items: center; 
    }
    .grid img {
        max-width: 50%; 
        height: auto;
    }
    
    .sidebar a {
        font-size: 16px;
    }
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: 'Tajawal', sans-serif;
    font-size: 14px;
    
}

.footer p {
    margin: 0;
}
.containerColumn {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    text-align: center;
}

.subtitle, .link {
    font-family: 'Tajawal', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.link {
    text-decoration: none;
    color: black; 
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
    
}

.centered-content {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;        
    text-align: center;
}
.grid {
    display: flex; 
    gap: 20px; 
    direction: ltr;  /* تم التعديل هنا */
    align-items: center;
}

.grid div {
    flex: 1; 
    padding: 10px;
    align-items: center;
    
}  
    
.grid img {
    max-width: 20%; 
    height: auto; 
    border-radius: 10px; 
    display: block; 
    margin: 0 auto ; 
}
@media screen and (max-width: 768px) {
  

    .grid img {
        max-width: 70%; 
        height: auto;
    }
}
.table-container {
    margin: 20px auto;
    padding: 10px;
    max-width: 90%;
    direction: ltr;  /* تم التعديل هنا */
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Tajawal', sans-serif;
    font-size: large;
    table-layout: fixed;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: var(--primaryColor);
    color: white;
    text-align: center;
    font-weight: bold;
}

table td {
    text-align: center;
}

.btn-link {
    display: inline-block;
    padding: 8px 12px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 0.1px groove black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-link:hover {
    background-color: var(--primaryColor);
    color: black;
}
.cards-container {
    direction: ltr;  /* تم التعديل هنا */
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; 
    transition: transform 0.3s ease;
    margin: 20px;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 150%;
    height: auto;
    max-height: 200px; 
    object-fit: contain; 
    margin-top: 20px; 
}

.card-content {
    padding: 20px;
    text-align: center;
}

.card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    margin-bottom: 20px;
}
.language-toggle {
    font-family: "Segoe UI Symbol", sans-serif;

    font-size: 25px;  
    color: black;
    cursor: pointer;
    position: fixed;
    top: 10px;  
    right: 15px; 
    z-index: 2;  
    background-color: white; 
    border: none;
    border-radius: 50%; 
    padding: 10px;
    width: 20px; 
    height: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* إضافة ظل خفيف */
}

.sources-table {
    direction: ltr;  /* تم التعديل هنا */
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    font-family: 'Tajawal';
    margin-bottom: 80px ;
}
.sources-table th, .sources-table td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}

.sources-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.sources-table tr:hover {
    background-color: #ddd;
}


.financial-table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    font-family: 'Tajawal', sans-serif;
    direction: ltr;  /* تم التعديل هنا */
    padding-bottom: 60px;
}
.financial-table th, .financial-table td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}
.financial-table th {
    background-color: var(--primaryColor);
    color: white;
}
.financial-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.financial-table tr:hover {
    background-color: #ddd;
}
